<mat-nav-list>
  <a *ngIf="(isAuth$ | async) === false" mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav-item-caption">Signup</span>
  </a>
  <a *ngIf="(isAuth$ | async) === false" mat-list-item routerLink="/login" (click)="onCloseSidenav()">
    <mat-icon>input</mat-icon>
    <span class="nav-item-caption">Login</span>
  </a>
  <a *ngIf="isAuth$ | async" mat-list-item routerLink="/training" (click)="onCloseSidenav()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-item-caption">Training</span>
  </a>
  <a *ngIf="isAuth$ | async" mat-list-item routerLink="/" (click)="logout()">
    <mat-icon>eject</mat-icon>
    <span class="nav-item-caption">Logout</span>
  </a>
</mat-nav-list>
